@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Avenir Next', sans-serif;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/AvenirNext-Regular.woff2') format('woff2'),
       url('/fonts/AvenirNext-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/AvenirNext-Bold.woff2') format('woff2'),
       url('/fonts/AvenirNext-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-14px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.animate-float-slow {
  animation: float 9s ease-in-out infinite;
}


